html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

*:hover,
*:focus,
*:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  background-color: #000;
}

.header {
  display: none;
}
@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    padding: 8px 20px 7px 6px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(41, 41, 41, 0.8);
    z-index: 2;
  }
}
.header .title_logo {
  width: 106px;
  height: 37px;
  margin-right: 10px;
}
.header .title_txt {
  display: flex;
  font-size: 16px;
  color: #fff;
}
.header .title_txt p + p {
  padding-left: 10px;
}
@media screen and (max-width: 381px) {
  .header .title_txt {
    display: flex;
    flex-direction: column;
  }
  .header .title_txt p + p {
    padding-left: 0px;
  }
}
.header .download {
  padding: 5px 14px;
  margin-left: 10px;
  color: #fff;
  border-radius: 20px;
  background: linear-gradient(180deg, #fda700 0%, #df3601 100%);
  white-space: nowrap;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .container {
    display: block;
  }
}
.container .hd_img {
  display: none;
  position: relative;
}
@media screen and (max-width: 600px) {
  .container .hd_img {
    display: block;
    height: auto;
  }
}
.container .title_img {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .container .title_img {
    display: none;
  }
}
.container .title_img .img {
  position: relative;
}
.container .title_img .logo {
  width: 15vw;
  height: 2vw;
  position: absolute;
  top: 50px;
  left: 30px;
}
.container .title_img .img_txt {
  text-align: center;
  bottom: 0;
  left: 0;
}
.container .title_img .img_txt p {
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 665px) {
  .container .title_img .img_txt p {
    font-size: 12px;
  }
}

.item {
  margin: 40px 30px 0 30px;
  background-color: #000;
  color: #fff;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
}
@media screen and (max-width: 1459px) {
  .item {
    height: 90vh;
    margin: 20px 20px;
  }
}
@media screen and (max-width: 900px) {
  .item {
    width: 30%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .item {
    width: auto;
    height: auto;
    padding: 0 20px 100px;
    margin: 0;
    display: block;
  }
}
.item .connect {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 12px;
}
@media screen and (max-width: 1309px) {
  .item .connect {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .item .connect {
    display: none;
  }
}
.item .connect img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.item .connect .business,
.item .connect .office {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
@media screen and (max-width: 1309px) {
  .item .connect .business,
  .item .connect .office {
    margin: 0 0 5px;
  }
}
.item .connect .feedback {
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(180deg, #b906ff 0%, #9a0266 100%);
}
@media screen and (max-width: 1309px) {
  .item .connect .feedback {
    width: 100%;
    padding: 10px 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 839px) {
  .item .connect .feedback {
    width: 100%;
  }
}
.item .download_txt {
  margin-left: 30px;
}
@media screen and (max-width: 1305px) {
  .item .download_txt {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .item .download_txt {
    display: none;
  }
}
.item .download_txt .caption {
  margin: 20px 0;
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  font-size: 40px;
  justify-content: center;
  text-shadow: 0.1em 0.1em #fe00d0;
}
@media screen and (max-width: 1481px) {
  .item .download_txt .caption {
    font-size: 35px;
  }
}
@media screen and (max-width: 1459px) {
  .item .download_txt .caption {
    font-size: 27px;
  }
}
@media screen and (max-width: 1400px) {
  .item .download_txt .caption {
    font-size: 24px;
  }
}
@media screen and (max-width: 1340px) {
  .item .download_txt .caption {
    font-size: 20px;
  }
}
@media screen and (max-width: 826px) {
  .item .download_txt .caption {
    display: none;
  }
}
.item .download_txt .caption p {
  font-size: 53px;
}
@media screen and (max-width: 1481px) {
  .item .download_txt .caption p {
    font-size: 47px;
  }
}
@media screen and (max-width: 1459px) {
  .item .download_txt .caption p {
    font-size: 39px;
  }
}
@media screen and (max-width: 1400px) {
  .item .download_txt .caption p {
    font-size: 36px;
  }
}
@media screen and (max-width: 1340px) {
  .item .download_txt .caption p {
    font-size: 32px;
  }
}
.item .download_txt .download {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1459px) {
  .item .download_txt .download {
    display: block;
  }
}
.item .download_txt .download .qr_card {
  padding-right: 10px;
}
@media screen and (max-width: 1459px) {
  .item .download_txt .download .qr_card {
    padding: 20px 0;
    text-align: center;
  }
}
.item .download_txt .download .qr_card img {
  width: 148px;
  height: 147px;
}
@media screen and (max-width: 860px) {
  .item .download_txt .download .qr_card img {
    width: 100%;
    height: 100%;
  }
}
.item .download_txt .download .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item .download_txt .download .photo .ph_txt {
  padding-left: 10px;
}
.item .download_txt .download .photo img {
  width: 25px;
  height: 30px;
}
.item .download_txt .download .photo h2 {
  font-size: 15px;
  font-weight: 700;
}
.item .download_txt .download .photo .android,
.item .download_txt .download .photo .ios {
  width: 200px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #151515;
  border-radius: 50px;
  font-size: 10px;
}
@media screen and (max-width: 1309px) {
  .item .download_txt .download .photo .android,
  .item .download_txt .download .photo .ios {
    width: 150px;
    font-size: 0px;
  }
}
@media screen and (max-width: 860px) {
  .item .download_txt .download .photo .android,
  .item .download_txt .download .photo .ios {
    width: 100%;
    font-size: 0px;
  }
}
.item .download_txt .download .photo .android {
  background: linear-gradient(180deg, #ffe600 0%, #f00 100%);
  box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset, 0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
}
.item .download_txt .download .photo .ios {
  margin-top: 10px;
  background: linear-gradient(180deg, #be00ed 0%, #51028f 100%);
  box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset, 0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
}
.item .item_txt {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 839px) {
  .item .item_txt {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .item .item_txt {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .item .cardlist {
    padding: 0px;
  }
}
.item .cardlist ul {
  width: 100%;
  display: flex;
}
.item .cardlist ul li {
  flex: 1;
  position: relative;
}
@media screen and (max-width: 1459px) {
  .item .cardlist ul li:last-child {
    display: none;
  }
}
@media screen and (max-width: 1309px) {
  .item .cardlist ul li:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .item .cardlist ul li:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .item .cardlist ul li {
    padding: 0px;
  }
  .item .cardlist ul li:nth-child(3), .item .cardlist ul li:nth-child(4), .item .cardlist ul li:last-child {
    display: flex;
  }
}
.item .cardlist ul li + li {
  margin-left: 5px;
}
.item .cardlist ul li img {
  border-radius: 10px;
}
.item .cardlist ul li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  white-space: nowrap;
}
.item .cardlist .img_slide {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .item .cardlist .img_slide {
    padding-bottom: 20px;
  }
}
.item .cardlist .img_slide .img_circle {
  width: 8px;
  height: 8px;
  margin-top: 10px;
  border-radius: 50px;
  background-color: gray;
  margin-bottom: 10px;
}
.item .cardlist .img_slide .img_circle + .img_circle {
  margin-left: 5px;
}
.item .cardlist .img_slide .img_circle:first-child {
  background-color: #fff;
}
.item .contact {
  width: 30%;
  border-radius: 12px;
  background: #2b2b2b;
  display: none;
}
@media screen and (max-width: 600px) {
  .item .contact {
    display: block;
    width: 100%;
  }
}
.item .contact ul {
  width: 100%;
  padding: 10px;
}
.item .contact ul li {
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: linear-gradient(180deg, #f8f8f8 0%, #cdcdcd 100%);
}
.item .contact ul li + li {
  margin-top: 10px;
}
.item .contact ul li .img {
  width: 30px;
  height: 30px;
  margin: 2px 4px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
.item .contact ul li .img img {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
.item .contact ul li .img .contact_mail {
  height: 11px;
}
.item .contact ul li .contact_txt {
  padding-left: 20px;
  font-size: 9px;
  color: #505050;
  white-space: nowrap;
}
.item .contact ul li .contact_txt ul {
  display: flex;
}
.item .contact ul li .contact_txt h2 {
  font-size: 12px;
  font-weight: 700;
  color: #9418aa;
}
.item .contact ul li .contact_copy {
  width: 84px;
  padding: 2px 14px;
  border-radius: 20px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #270256 0%, #a903c4 100%);
}
.item .question {
  display: none;
}
@media screen and (max-width: 600px) {
  .item .question {
    padding: 10px 20px;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  display: none;
}
@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    background: linear-gradient(180deg, #2b2b2b 0%, #000 49.48%, #2b2b2b 100%);
  }
}
.footer .photo {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer .photo .ph_txt {
  padding-left: 10px;
}
.footer .photo img {
  width: 25px;
  height: 30px;
}
.footer .photo h2 {
  font-size: 12px;
  font-weight: 700;
}
.footer .photo .android,
.footer .photo .ios {
  width: 250px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #151515;
  border-radius: 50px;
  font-size: 8px;
}
.footer .photo .android {
  margin-right: 5px;
  background: linear-gradient(180deg, #ffe600 0%, #f00 100%);
  box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset, 0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
}
.footer .photo .ios {
  background: linear-gradient(180deg, #be00ed 0%, #51028f 100%);
  box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset, 0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
}/*# sourceMappingURL=main.css.map */