@import "reset";
@import "method";
body {
  background-color: #000;
}

// header
.header {
  display: none;
  @include rwd(600) {
    width: 100%;
    padding: 8px 20px 7px 6px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(41, 41, 41, 0.8);
    z-index: 2;
  }
  .title_logo {
    width: 106px;
    height: 37px;
    margin-right: 10px;
  }
  .title_txt {
    display: flex;
    font-size: 16px;
    color: #fff;
    p + p {
      padding-left: 10px;
    }
    @include rwd(381) {
      display: flex;
      flex-direction: column;
      p + p {
        padding-left: 0px;
      }
    }
  }
  .download {
    padding: 5px 14px;
    margin-left: 10px;
    color: #fff;
    border-radius: 20px;
    background: linear-gradient(180deg, #fda700 0%, #df3601 100%);
    white-space: nowrap;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include rwd(600) {
    display: block;
  }
  .hd_img {
    display: none;
    position: relative;
    @include rwd(600) {
      display: block;
      height: auto;
    }
  }
  .title_img {
    width: 100%;
    // height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include rwd(600){
      display: none;
    }
    .img {
      position: relative;
    }
    .logo {
      width: 15vw;
      height: 2vw;
      position: absolute;
      top: 50px;
      left: 30px;
    }
    .img_txt {
      text-align: center;
      @include pos(bl, 0);
      p {
        color: #fff;
        font-size: 14px;
        @include rwd(665) {
          font-size: 12px;
        }
      }
    }
  }
}

.item {
  margin: 40px 30px 0 30px;
  background-color: #000;
  color: #fff;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
  @include rwd(1459) {
    height: 90vh;
    margin: 20px 20px;
  }
  @include rwd(900) {
    width: 30%;
    margin-top: 20px;  }
  @include rwd(600) {
    width: auto;
    height: auto;
    padding: 0 20px 100px;
    margin: 0;
    display: block;
  }
  // connect
  .connect {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: 12px;
    @include rwd(1309) {
      flex-direction: column;
      justify-content: center;
    }
    @include rwd(600) {
      display: none;
    }
    img {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
    .business,
    .office {
      display: flex;
      align-items: center;
      margin-right: 5px;
      @include rwd(1309) {
        margin: 0 0 5px;
      }
    }
    .feedback {
      padding: 10px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      background: linear-gradient(180deg, #b906ff 0%, #9a0266 100%);
      @include rwd(1309) {
        width: 100%;
        padding: 10px 10px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
      }
      @include rwd(839) {
        width: 100%;
      }
    }
  }
  // download
  .download_txt {
    margin-left: 30px;
    @include rwd(1305) {
      margin-left: 0px;
    }
    @include rwd(600) {
      display: none;
    }
    .caption {
      margin: 20px 0;
      display: flex;
      align-items: flex-end;
      font-weight: 900;
      font-size: 41px;
      justify-content: center;
      text-shadow: 0.1em 0.1em #fe00d0;
      @include rwd(1481) {
        font-size: 35px;
      }
      @include rwd(1459) {
        font-size: 27px;
      }
      @include rwd(1400) {
        font-size: 24px;
      }
      @include rwd(1340) {
        font-size: 20px;
      }
      @include rwd(826) {
        display: none;
      }
      p {
        font-size: 53px;
        @include rwd(1481) {
          font-size: 47px;
        }
        @include rwd(1459) {
          font-size: 39px;
        }
        @include rwd(1400) {
          font-size: 36px;
        }
        @include rwd(1340) {
          font-size: 32px;
        }
      }
    }
    .download {
      display: flex;
      justify-content: center;
      @include rwd(1459) {
        display: block;
      }
      .qr_card {
        padding-right: 10px;
        @include rwd(1459) {
          padding: 20px 0;
          text-align: center;
        }
        img {
          width: 148px;
          height: 147px;
          @include rwd(860) {
            width: 100%;
            height: 100%;
          }
        }
      }
      .photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .ph_txt {
          padding-left: 10px;
        }
        img {
          width: 25px;
          height: 30px;
        }
        h2 {
          font-size: 15px;
          font-weight: 700;
        }
        .android,
        .ios {
          width: 200px;
          height: 66px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: 2px solid #151515;
          border-radius: 50px;
          font-size: 10px;
          @include rwd(1309) {
            width: 150px;
            font-size: 0px;
          }
          @include rwd(860) {
            width: 100%;
            font-size: 0px;
          }
        }
        .android {
          background: linear-gradient(180deg, #ffe600 0%, #f00 100%);
          box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset,
            0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
        }
        .ios {
          margin-top: 10px;
          background: linear-gradient(180deg, #be00ed 0%, #51028f 100%);
          box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset,
            0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
        }
      }
    }
  }
  .item_txt {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    @include rwd(839) {
      font-size: 12px;
    }
    @include rwd(600) {
      display: none;
    }
  }
  // cardlist
  .cardlist {
    @include rwd(600) {
      padding: 0px;
    }
    ul {
      width: 100%;
      display: flex;
      li {
        flex: 1;
        position: relative;
        @include rwd(1459) {
          &:last-child {
            display: none;
          }
        }
        @include rwd(1309) {
          &:nth-child(4) {
            display: none;
          }
        }
        @include rwd(1100) {
          &:nth-child(3) {
            display: none;
          }
        }
        @include rwd(600) {
          padding: 0px;
          &:nth-child(3),
          &:nth-child(4),
          &:last-child {
            display: flex;
          }
        }
        & + li {
          margin-left: 5px;
        }
        img {
          border-radius: 10px;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }
    .img_slide {
      display: flex;
      justify-content: center;
      @include rwd(600) {
        padding-bottom: 20px;
      }
      .img_circle {
        width: 8px;
        height: 8px;
        margin-top: 10px;
        border-radius: 50px;
        background-color: gray;
        margin-bottom: 10px;
        & + .img_circle {
          margin-left: 5px;
        }
        &:first-child {
          background-color: #fff;
        }
      }
    }
  }
  .contact {
    width: 30%;
    border-radius: 12px;
    background: #2b2b2b;
    display: none;
    @include rwd(600) {
      display: block;
      width: 100%;
    }
    ul {
      width: 100%;
      padding: 10px;
      li {
        padding: 3px 5px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        background: linear-gradient(180deg, #f8f8f8 0%, #cdcdcd 100%);
        & + li {
          margin-top: 10px;
        }
        .img {
          width: 30px;
          height: 30px;
          margin: 2px 4px;
          background-color: #fff;
          border-radius: 100px;
          display: flex;
          align-items: center;
          img {
            width: 18px;
            height: 18px;
            margin-left: 5px;
          }
          .contact_mail {
            height: 11px;
          }
        }
        .contact_txt {
          padding-left: 20px;
          font-size: 9px;
          color: #505050;
          white-space: nowrap;
          ul {
            display: flex;
          }
          h2 {
            font-size: 12px;
            font-weight: 700;
            color: #9418aa;
          }
        }
        .contact_copy {
          width: 84px;
          padding: 2px 14px;
          border-radius: 20px;
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(180deg, #270256 0%, #a903c4 100%);
        }
      }
    }
  }
  .question {
    display: none;
    @include rwd(600) {
      padding: 10px 20px;
      color: #fff;
      font-size: 12px;
      text-decoration: underline;
      display: flex;
      justify-content: space-between;
    }
  }
}

// footer
.footer {
  display: none;
  @include rwd(600) {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    background: linear-gradient(180deg, #2b2b2b 0%, #000 49.48%, #2b2b2b 100%);
  }
  .photo {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    .ph_txt {
      padding-left: 10px;
    }
    img {
      width: 25px;
      height: 30px;
    }
    h2 {
      font-size: 12px;
      font-weight: 700;
    }
    .android,
    .ios {
      width: 250px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 2px solid #151515;
      border-radius: 50px;
      font-size: 8px;
    }
    .android {
      margin-right: 5px;
      background: linear-gradient(180deg, #ffe600 0%, #f00 100%);
      box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset,
        0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
    }
    .ios {
      background: linear-gradient(180deg, #be00ed 0%, #51028f 100%);
      box-shadow: 0px -4px 3px 0px rgba(0, 0, 0, 0.25) inset,
        0px -8px 11px 4px rgba(109, 109, 109, 0.3) inset;
    }
  }
}
